@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-size: 14px;
}

html:root{
    /* Colores para mercado-libre */
    --mercado-color: #fff159;
    --bg-principal-1: #e7e7e7;
    --bg-principal-2: #ebebeb;
    --border-col: #e6e6e6;
    --button-active-ml: #3483fa;
    --button-hover-ml: #2968c8;
    --advertising-color-text: #4b4b4b;
}

a{
    text-decoration: none;
}

a:any-link{
    cursor: pointer;
}

li{
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
}

.root{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    'header'
    'content'
    'footer';
    font-family: 'Montserrat',-apple-system, Roboto, Arial, sans-serif;
    min-height: 100%;
    border-collapse: collapse;
}

.section__title__ml{
    display: flex;
    width: min-content;
    margin-bottom: 22px;
}

.section__title__ml h2{
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 0 8px;
}

.advertising {
    display: flex;
    height: 250px;
    max-width: 100%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    overflow: hidden;
    transition: box-shadow .1s ease-out;
}

.advertising:hover {
    box-shadow: 0 7px 16px 0 rgba(0,0,0,.2), 0 1px 3px 0 rgba(0,0,0,.1);
}

.advertising__info{
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1 1 auto;
    margin-right: 32px;
    padding: 32px 0 32px 32px;
}

.advertising__info__title {
    font-size: 11px;
    letter-spacing: 4px;
    margin-bottom: 12px;    
    color: var(--advertising-color-text);
    font-weight: 600;
    line-height: 1;

}

@media screen and (max-width: 769px) {
    .advertising__info__title {
        width: 100px;
    }
}

.advertising__info__text {
    font-size: 25px;
    color: var(--advertising-color-text);
}

.advertisin__info__text--bold {
    font-weight: 600;
}

.advertising__info__button {
    width: 96px;
    height: 36px;;
    font-size: 0.9rem;
    line-height: 1;
    border-radius: 2px;
    font-weight: 600;
    margin-top: 13px;
    padding: 9px 10px;
    color: #fff;
    background-color: var(--button-active-ml);
    transition: background-color 0.3s;
}

.advertising__info__button:hover {
    background-color: var(--button-hover-ml);
}

.advertising__image {
    display: block;
    height: 250px;
    flex: 0 0 auto;
}

.advertising__image img {
    float: right;
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.nav-header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: var(--mercado-color);
}

.nav-header--layout{
    grid-area: header;
}

.nav-bonds{
    display: grid;
    grid-template: 40px 28px / 162px minmax(340px, 580px) minmax(350px, 390px);
    grid-template-areas: 
    'for-logo for-input for-promotional'
    'for-cp-sel for-nav-into for-account-actions';
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    padding: 8px 10px 12px 10px;
}

.nav__container{
    display: flex;
    width: 100%;
}

.nav__container-logo--layout{
    grid-area: for-logo;
}

.nav__container-search--layout{
    grid-area: for-input;
}

.nav__container-banner--layout{
    grid-area: for-promotional;
}

.nav__container-cp--layout{
    grid-area: for-cp-sel;
}

.nav__container-subnav--layout{
    grid-area: for-nav-into;
}

.nav__container-profnav--layout{
    grid-area: for-account-actions;
    
}

.nav__container__logo{
    display: flex;
    flex-wrap: wrap;
}

.nav-logo__logo{
    display: flex;
    height: 34px;
    width: 134px;
}

.nav__search{
    display: flex;
    position: relative;
    width: 100%;
}


input[type="text"].nav__search__input{
    display: flex;
    background-color: #fff;
    height: 40px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-weight: 400;
    color: #333;
    font-size: 1rem;

}

input[type="text"].nav__search__input:focus{
    outline: solid 1.2px #3483fa;
}

input[type="text"].nav__search__input::placeholder{
    opacity: 0.4;
}

button[type="submit"].nav__search__button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 46px;
    height: 40px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

button[type="submit"].nav__search__button:focus{
    outline: solid 1.2px #3483fa;
}

button[type="submit"].nav__search__button::before{
    content: "";
    display: block;
    height: 26px;
    border-left: 1px solid #e6e6e6;
    position: absolute;
    top: 6.5px;
}

img.nav__search__button__icon{
    width: 23px;
}

.nav__container__banner{
    display: flex;
    width: 100%;
    justify-content: right;
}

.nav__banner-banner{
    width: 340px;
    height: 39px;
}

.nav__container__cp{
    display: flex;
    flex-direction: row;
    position: relative;
}

.nav__container__cp::before{
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    background-image: url('../assets/img/icons8-digital-32.png');
    background-repeat: no-repeat;
    transform: scale(0.9);
    position: relative;
    top: -7px;
}


#nav__container__cp__toLks{
    display: flex;
    flex-direction: column;
}

#nav__container__cp__lk1{
    font-family: inherit;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    text-overflow: ellipsis;
}

#nav__container__cp__lk2{
    font-family: inherit;
    font-size: 0.9rem;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav__into__order{
    display: flex;
}

.nav__into__item{
    display: flex;
    align-items: flex-end;
    height: 28px;
    margin-right: 16px;
}

.nav__into__item:last-child{
    margin: 0;
}

@media only screen and (max-width: 1199px) { 
    .nav__into__item:nth-last-child(3){ 
        display: none;
    }
}

@media only screen and (max-width: 1099px){
    .nav__into__item:nth-last-child(4){
        display: none;
    }
}

.nav__into__item__link{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.6);
    height: min-content;
}

.nav__into__item__link--categ{
    display: flex;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.6);
    height: min-content;
    position: relative;
    padding-right: 12px;
}

.nav__into__item__link:hover{
    color: #333;
}

.nav__into__item__link--categ-decoration::after{
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-style: solid;
    border-width: 0 1.5px 1.5px 0;
    color: rgba(0,0,0,.3);
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    bottom: 5px;
    
}

.nav__container__profile{
    width: 100%;
}

.nav__profile{
    display: flex;
    justify-content: right;
}

.nav__profile__item{
    display: flex;
    height: 28px;
    align-items: flex-end;
    margin-left: 22px;
}

.nav__profile__item:nth-last-child(2){
    margin: 0 22px;
}

.nav__profile__item:nth-last-child(1){
    margin: 0;
}

.nav__profile__item__link{
    font-size: 0.9rem;
    font-weight: 400;
    color: #000;
    height: min-content;
}

.nav__profile__item__link__ico{
    display: block;
    width: 27px;
    transform: scaleY(0.8);
}

.content{
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: 
    'for-promotional-carousel'
    'for-secure-payment-banner'
    'for-offerts'
    'for-mercado-benefits'
    'for-pormotional-banner'
    'for-discover-offerts'
    'for-best-stores'
    'for-last-part';
    background-color: var(--bg-principal-1);
}

.content.content--layout{
    grid-area: content;
}

.content__carousel{
    display: block;
    width: 100vw;
}

.content__carousel.content__carousel--layout{
    grid-area: for-promotional-carousel;
}
/* ############################################################################################################################################ */
.content__carousel__swiper{
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100vw;
  }


.content__carousel__swiper img{
    height: 340px;  
    width: 100%;
    object-fit: cover;
  }

@media screen and (max-width: 1024px) {
    .content__carousel__swiper img{
        height: 255px;
      } 
  }

.content__carousel__swiper .swiper-button-prev,
.content__carousel__swiper .swiper-button-next {
    --swiper-navigation-size: 17px;
    background-color: #fff;
    height: 70px;
    width: 50px;
    margin-top: -35px;
    opacity: 0;
    transition: opacity 0.3s;
}

.content__carousel__swiper .swiper-button-prev{
    border-radius: 0 65px 65px 0;
    left: -10px;
}

.content__carousel__swiper .swiper-button-next{
    border-radius: 65px 0 0 65px;
    right: -11px;
}

.content__carousel__swiper:hover .swiper-button-prev,
.content__carousel__swiper:hover .swiper-button-next {
    opacity: 1;
}

.content__carousel__swiper .swiper-pagination {
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-size: 7px;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 2px;
}

.content__carousel__swiper .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 1px #fff; 
}

.content__carousel__swiper .swiper-pagination-bullet-active{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}
/* ########################################################################################################################################### */

.content__payment {
    display: block;
    padding: 40px 8px;
}

.content__payment.content__payment--layout {
    grid-area: for-secure-payment-banner;
}

@media screen and (max-width: 769px) {
    .content__payment {
        margin: 0 20px;
        padding: 30px 0;
    }   
}

.container__payment__block{
    display: flex;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    max-width: 1184px;
    height: 90px;
    margin: 0 auto;
}

.payment__item{
    display: block;
    padding: 20px;
    flex: 0 1 auto;
}

.payment__item:nth-last-child(1),
.payment__item:nth-last-child(3) {
    border-left: solid 1px #e6e6e6;
}

.payment__item.first__item::before {
    content: '';
    display: block;
    height: 82px;
    border-left: solid 4px #3483fa;
    position: absolute;
    left:2px;
    top: 4px;

}

@media only screen and (max-width: 969px) {
    .payment__item.first__item {
        display: none;
    }
}

.payment__item.central__item {
    display: flex;
    padding: 0;
    flex: 1 0 auto;
}

.payment__item.last__item {
    display: flex;
}

.payment__item__title{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    white-space: nowrap;
    padding: 8px 0 3px 0;
}

.payment__item__subtitle {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.6);
}

.payment__item__link{
    display: inline-block;
    height: min-content;
}

.payment__item__link.text__link {
    display: block;
    color: var(--button-active-ml);
    font-size: 0.9rem;
}

.payment__item__link.text__link:hover {
    color: var(--button-hover-ml);
}

.payment__item__link.last__block{
    margin-right: 16px;
}

.payment__item__link.log {
    margin: auto;
}

#cover__to__payment__block {
    display: inline-block;
}

.payment__item__logo{
    background: url('https://http2.mlstatic.com/secure/payment-logos/v2/payment-logos-mlm-large_v_cc50a05e3d.png') no-repeat;
}

.payment__item__logo.long__image__position {
    width: 118px;
    height: 18px;
    background-position: left -99px;
}

.content__benefits {
    display: block;
    padding: 40px 0;
}

.content__benefits--layout {
    grid-area: for-mercado-benefits;
}

@media screen and (max-width: 769px) {
    .content__benefits {
        padding: 30px 0;
        margin: 0 10px;
    }
}

.content__benefits__promo{
    display: flex;
    flex-wrap: wrap;
    max-width: 1204px;
    margin: 0 auto;
}

.benefits__promo__wrapper {
    width: 100%;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.benefits__promo__header {
    display: flex;
    min-height: 55px;
    padding: 16px 24px;
    background: linear-gradient(90deg,#a90f90 55%,#0c1a51);
    color: #fff;
    justify-content: space-between;
}

.benefits__promo__header__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    line-height: 2;
}

.benefits__promo__header__separator {
    display: flex;
    flex-direction: column;
    position: relative;
}

.benefits__promo__header__separator::before {
    border-left: 2px solid #fff;
    content: "";
    height: 45px;
    left: -8px;
    position: absolute;
    top: 0;
}

.benefits__promo__preprice {   
    font-size: 14px;
    font-weight: 500;
    text-decoration: line-through;
}

.benefits__promo__price--bold {
    font-weight: 600;
    font-size: 24px;
    width: fit-content;
}

.benefits__promo__price__period {
    font-weight: 500;
    font-size: 12px;
}

.benefits__promo__body{
    display: block;
    padding: 24px;
}

.benefits__promo__body__title {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
}

.benefits__promo__body__benefits {
    display: flex;
    margin-top: 32px;
    justify-content: space-evenly;
}

.benefits__promo__body__benefit {
    display: flex;
    align-items: center;
    flex: 1;
}

.benefits__promo__body__benefit__logo {
    border: 1px solid #efefef;
    border-radius: 50%;
    height: 72px;
    min-height: 72px;
    min-width: 72px;
    overflow: hidden;
    width: 72px;
}

.benefits__promo__body__logo__img {
    height: auto;
    width: 100%;
}

.benefits__promo__body__benefit__des {
    display: inline;
    margin: 0 16px;
    width: 100%;
}

.benefits__promo__action {
    display: flex;
    padding: 16px 30px;
    border-top: solid 1px #ededed;
    align-items: center;
    justify-content: right;
}

.promo__action__button {
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 48px;
    line-height: 48px;
    padding: 0 24px;
    text-align: center;
    border-radius: 6px;
    transition: background-color 0.2s;
}

.promo__action__button:hover {
    background-color: #2968c8;
}

.content__discover__ml {
    display: block;
    padding: 40px 0;
}

.content__discover__ml--layout{
    grid-area: for-discover-offerts;
}

@media screen and (max-width: 769px) {
    .content__discover__ml {
        margin: 0 15px;
        padding: 30px 0;
    }    
}


.discover__ml__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

.discover__ml__cards {
    display: flex;
    padding: 0 8px;
}

.discover__ml__cards .advertising:first-child {
    margin-bottom: 15px;
    margin-right: 15px;
}

.footer{
    display: block;
    border-top: solid 1px #e6e6e6;
}

.footer--layout{
    grid-area: footer;
}

.nav__footer__container{
    display: block;
    flex-wrap: wrap;
    padding: 16px 10px;
    max-width: 1200px;
    margin: auto;
}

.nav__footer{
    display: flex;
    flex-wrap: wrap;
    
}

.nav__footer__item{
    display: block;
    margin: 0 16px 8px 0;
}

.nav__footer__item:nth-last-child(1){
    margin: 0;
}

.nav__footer__item__link{
    font-family: inherit;
    color: #000;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 8px;
    height: min-content;
}

.nav__footer__copyright{
    font-size: 11px;
    color: #999;
    padding-bottom: 2px;
}

.nav__footer__sec--info{
    font-size: 11px;
    color: #999;
    margin-top: 4px;
}